################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationOutage/bin
/.vs
/ApplicationOutage/obj/Debug
