
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <strong>401 Authorized!</strong> You are not Authorized User to access this Page.
</div>

